/* replace the word "seed/question/project" in the lines below with whatever keyword you want to target */
/* You will also need to replace the hex-code for the color to whatever color you want */
.ls-block[data-refs-self*='"prompt"'] {
  font-family: courier, courier new, serif;
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-left: 20px;
  cursor: text;
  border: 1px solid #999; 
  background: white;
  box-shadow: inset 0px 1px 4px #666;
  padding: 10px;
  max-height:200px;
  overflow:scroll;
}
.ls-block[data-refs-self*='"innbok-edit"'] {
  font-family: courier, courier new, serif; 
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-left: 20px;
  cursor: text;
  border: 1px solid #999; 
  background: white;
  box-shadow: inset 0px 1px 4px #666;
  padding: 10px;
  max-height:200px;
  overflow:scroll;
}

/* https://discuss.logseq.com/t/block-background-color-setting-specific/8980/2 */
.ls-block[data-refs-self*='"artifact"'] {
   --ls-selection-background-color: black;
   --ls-block-highlight-color: black;
    padding: 8px 0;
    margin: 8px 0 0 0;
    border-radius: 5px;
    border-left: 4px solid navy;
    background-color: LightSteelBlue;
    transform: translateX(-4px);
}

.ls-block[data-refs-self*='"topic"'] {
   --ls-selection-background-color: black;
   --ls-block-highlight-color: black;
    padding: 8px 0;
    margin: 8px 0 0 0;
    border-radius: 5px;
    border-color: 4px solid LightGray;
    border-top: 1px solid LightGray;
    border-bottom: 1px solid LightGray;
    border-left: 1px solid LightGray;
    border-right: 1px solid LightGray;
    background-color: WhiteSmoke;
    transform: translateX(-4px);
}

.ls-block[data-refs-self*='"resource"'] {
   --ls-selection-background-color: black;
   --ls-block-highlight-color: black;
    padding: 8px 0;
    margin: 8px 0 0 0;
    border-radius: 5px;
    border-left: 4px solid DarkGray;
    background-color: OldLace;
    transform: translateX(-4px);
}

.ls-block[data-refs-self*='"unit"'] {
   --ls-selection-background-color: black;
   --ls-block-highlight-color: black;
    padding: 8px 0;
    margin: 8px 0 0 0;
    border-radius: 5px;
    border-color: 4px solid LightGray;
    border-top: 1px solid LightGray;
    border-bottom: 1px solid LightGray;
    border-left: 1px solid LightGray;
    border-right: 1px solid LightGray;
    transform: translateX(-4px);
}
