.ls-block[data-refs-self*='"item"'] {
    padding: 8px 0;
    margin: 4px 0 0 0;
    border: 1px solid grey;
    border-width: 1px 1px 1px 4px;
    border-radius: 5px;
    background-color: CoolGray;
    transform: translateX(-4px);
}

.ls-block[data-refs-self*='"artifact"'] {
    padding: 8px 0!important;
    margin: 4px 0 0 0!important;
    border: 1px solid navy!important;
    border-width: 1px 1px 1px 4px!important;
    border-radius: ;
    background-color: LightSteelBlue;
    transform: translateX(-4px);
}

.ls-block[data-refs-self*='"keys"'] {
    padding: 8px 0;
    margin: 4px 0 0 0;
    border: 1px solid red;
    border-width: 1px 1px 1px 4px;
    border-radius: 5px;
    background-color: mistyrose;
    transform: translateX(-4px);
}

.ls-block[data-refs-self*='"key"'] {
    padding: 2px 0;
    margin: 2px 2px 2px 2px;
    border: 1px solid LightGray;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
    font-family: courier, courier new, serif
    cursor: text;
}

.ls-block[data-refs-self*='"ai"'] {
    padding: 8px 0;
    margin: 4px 0 0 0;
    border: 1px solid purple;
    border-width: 1px 1px 1px 4px;
    border-radius: 5px;
    background-color: lavender;
    transform: translateX(-4px);
}

.ls-block[data-refs-self*='"🔖"'] {
    padding: 2px 0;
    margin: 2px 2px 2px 2px;
    border: 1px solid LightGray;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
    font-family: courier, courier new, serif
    cursor: text;
}

.ls-block[data-refs-self*='"off"'] {
  color: grey;
}


/* Estilo para el contenedor del campo de entrada */
.ls-block[data-refs-self*='"placeholder"'] {
  color: grey;
}

.ls-block[data-refs-self*='"inn-edit"'] {
  background-color: #F5F5F5; /* Color de fondo claro */
  color: #333; /* Color de texto oscuro */
  padding: 10px; /* Relleno alrededor del texto */
  width: 100%; /* Ancho del div */
  height: 500px; /* Altura del div */
  border: 1px solid #CCC; /* Borde sólido */
  border-radius: 4px; /* Esquinas redondeadas */
  box-sizing: border-box; /* Asegura que el padding y el borde no afecten las dimensiones del div */
  overflow-y: auto; /* Añade una barra de desplazamiento vertical si el contenido es demasiado largo */
  white-space: pre-wrap; /* Conserva los espacios y saltos de línea */
  font-family: 'Courier New', Courier, monospace; /* Fuente similar a la de un editor de código */
  box-shadow: inset 2px 2px 2px 2px LightGray;
}

.ls-block[data-refs-self*='"inn-edit"'] .th {
  display: none
}

.ls-block[data-refs-self*='"inn-copy"'] {
  background-color: #F5F5F5; /* Color de fondo claro */
  color: #333; /* Color de texto oscuro */
  padding: 10px; /* Relleno alrededor del texto */
  width: 100%; /* Ancho del div */
  height: 200px; /* Altura del div */
  border: 1px solid #CCC; /* Borde sólido */
  border-radius: 4px; /* Esquinas redondeadas */
  box-sizing: border-box; /* Asegura que el padding y el borde no afecten las dimensiones del div */
  overflow-y: auto; /* Añade una barra de desplazamiento vertical si el contenido es demasiado largo */
  white-space: pre-wrap; /* Conserva los espacios y saltos de línea */
  font-family: 'Courier New', Courier, monospace; /* Fuente similar a la de un editor de código */
  box-shadow: inset 2px 2px 2px 2px LightGray;
}

.ls-block[data-refs-self*='"🛎️"'] {
  border: 1px solid LightGray; 
  background: white;
  margin: 8px;
}

.ls-block[data-refs-self*='"🧭"'] {
  border: 1px solid LightGray; 
  background: white;
  margin: 8px;
}

.ls-block[data-refs-self*='"🗂️"'] {
  border: 1px solid LightGray; 
  background: #F7F7F7;
  margin: 8px;
}

.ls-block[data-refs-self*='"menu"'] span {
  margin: 2px;
}

/* hide embed headers */
.embed-header {
  display: none;
}

/* hide hierarchy */
.page-hierarchy {
  display: none;
}

/* https://discuss.logseq.com/t/block-background-color-setting-specific/8980/2 */
.ls-block[data-refs-self*='"artifact"'].ls-block[data-refs-self*='"guide-item"'] {
    padding: 8px 0;
    margin: 8px 0 0 0;
    border-radius: 5px;
    border-left: 4px solid navy;
    background-color: LightSteelBlue;
    transform: translateX(-4px);
}

.ls-block[data-refs-self*='"topic"'].ls-block[data-refs-self*='"guide-item"'] {
    padding: 8px 0;
    margin: 8px 0 0 0;
    border-radius: 5px;
    border-color: 4px solid LightGray;
    border-top: 1px solid LightGray;
    border-bottom: 1px solid LightGray;
    border-left: 1px solid LightGray;
    border-right: 1px solid LightGray;
    background-color: WhiteSmoke;
    transform: translateX(-4px);
}

.ls-block[data-refs-self*='"resource"'].ls-block[data-refs-self*='"guide-item"'] {
    padding: 8px 0;
    margin: 8px 0 0 0;
    border-radius: 5px;
    border-left: 4px solid DarkGray;
    background-color: OldLace;
    transform: translateX(-4px);
}

.ls-block[data-refs-self*='"unit"'] {
    padding: 8px 0;
    margin: 8px 0 0 0;
    border-radius: 5px;
    border-color: 4px solid LightGray;
    border-top: 1px solid LightGray;
    border-bottom: 1px solid LightGray;
    border-left: 1px solid LightGray;
    border-right: 1px solid LightGray;
    transform: translateX(-4px);
}

/* https://discuss.logseq.com/t/better-visual-signposting-of-collapsed-blocks/21232/3 */

.bullet-container:not(.typed-list).bullet-closed {
    background: navy;
}

/* https://discuss.logseq.com/t/block-properties-ui-auto-hiding-revealing-on-hover/20631/3 */

/* Styles for displaying block properties */
.block-properties {
  display: none;
  position: absolute;
  transform: translateX(0%); /* Move the properties horizontally aligned with the ".block-content-inner" DIV Left Margin */
  border-radius: 5px;
  padding: 10px;
  border: 1px solid var(--ls-secondary-border-color); /* Add custom border color from pre-defied variables */
}
/* Show block properties on hovering .block-content-inner */
.block-content-inner:hover ~ .block-properties {
  display: block;
  opacity: 1;
  z-index: 999;
}
/* Hide .timestamp div on hovering .block-content-inner */
.block-content-inner:hover ~ .timestamp {
  display: none; /* Hide the .timestamp div when hovering on .block-content-inner */
}
/* Override styles for block properties in right sidebar */
#right-sidebar .block-properties {
  display: block;
  position: relative;
}
