{:blocks (
{:block/created-at 1694177959657
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "Lean Canvas"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [616 1625.999960414625]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a47ba510-48d3-11ee-8336-b949ec2149fb"
:noFill false
:point [72 168]
:parentId "64f1f431-0e6e-4306-98e2-80f20ddd12db"
:collapsedHeight 0
:nonce 1693578433063}}
:block/updated-at 1694177959657} 
{:block/created-at 1694177321211
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "Lean Canvas image"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [912 723.7031450271331]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d47c0160-48d3-11ee-8336-b949ec2149fb"
:noFill false
:point [728 168]
:parentId "64f1f431-0e6e-4306-98e2-80f20ddd12db"
:collapsedHeight 0
:nonce 1693578513669}}
:block/updated-at 1694177321211} 
{:block/properties 
{:logseq.tldraw.shape "{:blockType \"P\", :stroke \"yellow\", :rotation 0, :collapsed false, :borderRadius 8, :index 2, :scale [1 1], :pageId \"segment 1/profile 1/content\", :scaleLevel \"xs\", :fill \"yellow\", :compact false, :isAutoResizing true, :type \"logseq-portal\", :size [136 131.00000851653343], :strokeType \"line\", :strokeWidth 2, :opacity 1, :id \"bf815730-48d6-11ee-8336-b949ec2149fb\", :noFill false, :point [1464 360], :parentId \"64f1f431-0e6e-4306-98e2-80f20ddd12db\", :collapsedHeight 0, :nonce 1693579766912}"
:ls-type ":whiteboard-shape"}} 
{:block/content "test segment/profile 1/channels/content"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64f1f431-0e6e-4306-98e2-80f20ddd12db"}
:block/parent 
{:block/uuid #uuid "64f1f431-0e6e-4306-98e2-80f20ddd12db"}
:block/properties 
{}
:block/uuid #uuid "64fb1785-9a80-4786-8f0a-64c8d6ed632f"} 
{:block/properties 
{:logseq.tldraw.shape "{:blockType \"P\", :stroke \"yellow\", :rotation 0, :collapsed false, :borderRadius 8, :index 3, :scale [1 1], :pageId \"segment 1/profile 1/channels/content\", :scaleLevel \"xs\", :fill \"yellow\", :compact false, :isAutoResizing true, :type \"logseq-portal\", :size [168 148.0000273589356], :strokeType \"line\", :strokeWidth 2, :opacity 1, :id \"b018cf70-4e45-11ee-8413-afcaaba68bbc\", :noFill false, :point [1280 536], :parentId \"64f1f431-0e6e-4306-98e2-80f20ddd12db\", :collapsedHeight 0, :nonce 1694177171010}"
:ls-type ":whiteboard-shape"}})
:pages (
{:block/uuid #uuid "64f1f431-0e6e-4306-98e2-80f20ddd12db"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64f1f431-0e6e-4306-98e2-80f20ddd12db"
:name "segment 1/profile 1 whiteboard"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("a47ba510-48d3-11ee-8336-b949ec2149fb" "d47c0160-48d3-11ee-8336-b949ec2149fb" "bf815730-48d6-11ee-8336-b949ec2149fb" "b018cf70-4e45-11ee-8413-afcaaba68bbc")}}
:block/namespace 
{:db/id 890}
:block/updated-at 1694711061529
:block/created-at 1693578289177
:block/type "whiteboard"
:block/name "segment 1/profile 1 whiteboard"
:block/original-name "segment 1/profile 1 whiteboard"})}